.app {
    .route-view {
        background: #c5d5e37a;
        padding: 3em 0;

    }

    .no-data {
        padding-bottom: 19.9vh;
    }

    .has-data {
        padding-bottom: 16.6vh;
    }

    .navbar {
        width: 100;
        height: 55px;
        overflow: hidden;
        position: relative;
        box-shadow: #c7e3ff49 0px 20px 25px -5px, #2e96ff33 0px 10px 10px -5px;

        .app-name {
            font-family: Righteous;
            font-size: 30px;
            font-weight: 800;
            padding: 7px 7px 7px 14px;

            background-color: #0080ffcc;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent;
            text-shadow: #ffffff96 0px 3px 3px;
        }

        .nav-col {
            padding-top: 9px;
        }
    }

    .search-form {
        input:focus {
            background: #1c8af810;
        }
    }

    .data-table {
        margin: 2em auto;

        th {
            background: #d6e5f36a;
            color: #556;

            div {
                font-size: 16px;
            }
        }
    }

    // Loading
    .loading-container {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgba(255, 255, 255, 0.116);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }
    }

    .about,
    .home {
        .content {
            box-shadow: 0 2px 4px #40a0ff6e, 0 0 6px #40a0ff42;
            border-radius: 8px;
            padding: 20px;
            overflow: auto;
            background: white;
        }

        // pagination number
        .number {
            font-weight: normal;
        }
    }
}

* {
    font-family: Poppins, Montserrat,
        'Playfair Display',
        Nunito,
        Arial,
        sans-serif;
}

.my-tooltip {
    font-size: 13px;
    border: 1px solid #409eff !important;
}

body {
    margin: 0;
}