.app {
    .navbar {
        height: 50px;
        overflow: hidden;
        position: relative;
        box-shadow: #409eff6f 0px 20px 25px -5px, #409eff4f 0px 10px 10px -5px;
        margin: -7.6px -7px 0;
    }

    .search-form {
        text-align: center;
        margin: 10em;

        .el-input {
            width: 22em;
        }

        .data-table {
            margin: 3em auto;

            .el-table {
                td.el-table__cell {
                    border-bottom: 1px solid red !important;
                }

                &.--border {
                    border-right: 1px solid red !important;
                }
            }
        }
    }
}