.app {
    font-family: Poppins, Montserrat, 'Playfair Display', Nunito, Arial, sans-serif;

    .el-input__inner {
        font-family: inherit;
    }

    .el-table th {
        font-family: Quicksand;
        font-size: 15px;
    }

    .navbar {
        height: 50px;
        overflow: hidden;
        position: relative;
        box-shadow: #409eff6f 0px 20px 25px -5px, #409eff4f 0px 10px 10px -5px;
        margin: -7.6px -7px 0;

        .app-name {
            font-size: 20px;
            font-weight: 800;
            padding: 10px;
        }
    }

    .search-form {
        text-align: center;
        margin: 7em 10em 3em;

        .el-input {
            width: 23em;
        }
    }

    .data-table {
        margin: 2em auto;
        min-width: 800px;
        width: 80%;
    }

    // Pagination
    .pagination {
        text-align: center;
        margin-left: 16vw;
        width: 68%;
    }

    // Loading
    .loading-container {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgba(255, 255, 255, 0.116);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .empty {
            margin-top: 9em;
        }
    }

}

.my-tooltip {
    font-family: Poppins;
    font-size: 13px;
    border: 1px solid #409eff !important;
}